<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>moban</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- <meta name ="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style>
    	 
    </style>
    <script src="vue1.0.js"></script>
    <script>
    	window.onload = function() {
            new Vue({
                el:'#box',
                data:{
                    msg:"welcome Vue1.0",
                    url:'https://www.baidu.com/img/bd_logo1.png',
                    w:'200px',
                    t:'这是一张美丽的图片'
                }
            })
        }
    	
    </script>

</head>
<body>
	<div id="box">
        <input type="text" v-model="msg">
        <input type="text" v-model='msg'>
        <br>
        {{msg}}  
        <!-- <img src="{{url}}" alt=""> -->
        <img v-bind:src="url" alt="" title="t" :width='w'> 
        <!-- <img :src="url" alt=""> -->
    </div>
</body>
</html>